@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary: #f9f506;
  --bg-dark: #23220f;
  --bg-light: #f8f8f5;
}

body {
  font-family: 'Spline Sans', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/* Hide scrollbar for horizontal scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
